.headers {
  background-color: #345cba;
 color: 'black';
 font-family: 'Tahoma'; cursive; sans-serif;
 font-size: 1.6em;
 padding: 20px;
 text-align: center;
}
body {
  font-family: "Tahoma"; sans-serif;
  background-color: white;
  color: #2F2F2F;
  font-size:1.2em;
  max-width: 65em;

  margin:auto;


}

#map {height: 75em;}
.attribution {
  color: #2f2f2f;
  font-style: italic;
  font-size: .5em;
  position: relative;
}


#menu {
background: #fff;
position: absolute;
z-index: 1;

border-radius: 3px;
width: 120px;
border: 1px solid rgba(0, 0, 0, 0.4);
font-family: 'Open Sans', sans-serif;
}

#menu a {
font-size: 13px;
color: #404040;
display: block;
margin: 0;
padding: 0;
padding: 10px;
text-decoration: none;
border-bottom: 1px solid rgba(0, 0, 0, 0.25);
text-align: center;
}

#menu a:last-child {border: none;}

#menu a:hover {
background-color: #f8f8f8;
color: #404040;
}

#menu a.active {
background-color: #3887be;/* blue */
color: #ffffff;
}

#menu a.active:hover {background: #3074a4;}

h1 {
  padding-left: 1em;
  text-decoration: underline;
}



.session {margin-bottom: 20px;}

.row {
  height: 12px;
  width: 100%;
}

.colors {
  background: linear-gradient(to right, red, orange, yellow, green, blue, purple);
  margin-bottom: 5px;
}

.label {
  width: 15%;
  display: inline-block;
  text-align: center;
}
#legend {
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  height: 17em;
  margin-bottom: 40px;
  width: 14em;
  z-index: 1;
}

.legend-key {
  padding: 0;

}



.map-overlay {

  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
}

.colorText {
  text-shadow: 0 0 1px black, 0 0 1px black,0 0 1px black,0 0 1px black;
}
.buttonText {
  background-color: #3887be;
  color: white;
}
